// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'variables';
@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */

::-webkit-scrollbar-track {
  background: #377eb6;
}

/* Handler */

::-webkit-scrollbar-thumb {
  background: #d0d3d5;
  /*background: #f88938;*/
}

/* Handler on Hover */

::-webkit-scrollbar-track:hover {
  /*background: #555;*/
}

#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#global-loader img {
    width: 120px;
    height: 120px;
}
