
@use 'variables' as *;

.client_economy .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.client_economy .cards .card{
  max-height: 300px;
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-width: 25%;
}
.card-title{
  background-color: $secondary;
  color: white;
  border-radius: 8px 8px 0 0;
}

#myChart{
  height: 400px !important;
}
