@use 'variables' as *;

.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards .card{
    width: 220px;
    padding: 0 10px;
    height: 30px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  border: none;
    cursor: pointer;
  margin: 10px 20px 10px 0;
}
.hidden{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(186, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 90%;
    max-height: 100px;
  }
}

.table-container{
    position: relative;
    max-height: 700px;
    overflow-y: auto;
}

.controlls{
    background: rgb(44, 44, 44) !important;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 3px 0;
}
.controlls a span{
    color: white;
    font-size: 1rem;
}

.credential{
    display: flex;
    flex-direction: column !important;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    min-width: 200px;
    min-height: 100%;
    cursor: pointer;
}

.credential-bg-none{
    background: rgb(255, 105, 105);

}
.credential-bg-0{
    background: rgb(212, 212, 0);
}
.credential-bg-1{
    background: orange;
}
.credential-bg-2{
    background: green;
}

@keyframes blink {
    0% { border-color: #009dff; }
    50% { border-color: transparent; }
    100% { border-color: #009dff; }
}

.cards .card.filter-selected {
    border: 7px solid #009dff;
    height: 40px;
    padding: 5px 0;
    animation: blink 2s linear infinite;
}
