@use 'variables' as *;

.kanban-container {
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  border-radius: 0.5rem;
}

.kanban-container .kanban-c {
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
  flex: 0 0 250px;
  margin: 10px;
  height: 470px;
  max-height: 470px;
  background-color: rgb(243, 243, 243);
}

.kanban-container .kanban-c .controlls, .kanban-container .kanban-c .title {
  height: 25px;
  width: 90%;
  margin: 0.6rem auto;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
}


.kanban-container .kanban-c .title {
  border-radius: 0.5rem 0.5rem 0 0;
  background: $primary;
  color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
}

.kanban-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
  max-width: 250px;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 1rem;
  font-weight: bold;
  background: rgb(250, 250, 250);
  color: $secondary;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ghost {
  opacity: 0.5;
  background-color: #c8c8c8;
}

.addKanban span {
  display: inline-block;
  margin-top: 10px;
  font-size: 2rem;
  color: green;
}
