.stage1{
    background: grey !important;
    color: white;
}

.stage2{
    background: rgb(21, 146, 236) !important;
    color: white;
}

.stage3{
    background: rgb(232, 87, 87) !important;
    color: white;
}

.stage4{
    background: rgb(97, 189, 132) !important;
    color: white;
}

.stage5{
    background: rgb(194, 94, 195) !important;
    color: white;
}
