.tasks{
    display: flex;
    justify-content: flex-start;
}
.tasks-list{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border: none;
}
.list-group > li{
    border: none !important;
}
.tasks > div{
    width: 90%;
    max-width: 260px !important;
    min-height: 170px;
    margin: 10px;
}

.task{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    .check{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;

        a{
            color: rgb(107, 159, 244);
        }
    }

}
.tasks .card{
    border: none;
    background: rgb(249, 249, 250) ;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0 0;
}
.task-info{
    .info{
        border-radius: 8px !important;
        padding: 5px 10px !important;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading{
    animation: rotate 1.5s linear infinite;
}
